<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.charles.eden">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NotePlanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NoteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />

        <activity
            android:name=".activity.NoteDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />

        <activity
            android:name=".activity.TodoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />

        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />

        <activity
            android:name=".activity.PhotoDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen" />
    </application>
</manifest>